@import url("https://fonts.googleapis.com/css2?family=Goblin+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --font-main: "Montserrat", sans-serif;
  --font-secound: "Play", sans-serif;
  --color-dark: ;
  --color-light: ;
  --color-mid: ;
}
body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  font-family: var(--font-secound);
  font-size: 2em;
  height: auto;
}

a {
  color: white;
}
.first-section {
  width: 100%;
  /* height: 99vh; */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mak";
}

.wrapper-img {
  overflow: hidden;
  position: absolute;
  top: 35% !important;
  right: 18%;
  width: 30%;
  height: 90vh;
}

.title {
  color: white;
}
img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  border-radius: 50px;
}
.box {
  background-color: #000;
  opacity: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}
.blocks {
  display: flex;
  font-size: 140px;
  color: white;
}
.social {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 22;
  left: 0;
}

.social i {
  margin-left: 10px;
  font-size: 30px;
  margin-bottom: 20px;
}
.section {
  padding: 20px;
  box-sizing: border-box;
}

.vertical-center {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-center__inner {
  display: table-cell;
  vertical-align: middle;
}

.section--full {
  text-align: center;
}

.section--full,
.section--vertical {
  min-height: 100vh;
  position: relative;
}

.block-list {
  white-space: nowrap;
  padding-left: 50px;
  overflow-y: hidden;
}
.block-list::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.block-list {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: scroll;
  overflow-x: hidden;
}

.block-list__item {
  width: 450px;
  height: 20vh;
  min-height: 600px;
  display: inline-block;
  white-space: normal;
  padding-right: 20px;
}

.block-list__item-inner {
  background: #eee;
  width: 100%;
  height: 100%;
}

.block-list__item:first-child {
  margin-left: 0;
}

#third {
  background: #f5f5f5;
}

.scrollend {
  transform: translateX(-1500px);
}

/* ====== */
.secound-section {
  height: 100vh;
  line-height: 50px;
  padding-top: 100px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.title-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-size: 80px;
  color: white;
}

.about-me {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f7f7f7;
  text-align: center;
  font-size: 25px;
  max-height: 70vh;
}

.text-1 {
  font-size: 0.8em;
  color: #777777;
  display: flex;
  flex-direction: wrap;
  padding-left: 200px;
  padding-right: 200px;
}

/*  ===================
    ===== Third-Section
    =================== */
.third-section {
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.apps {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  max-width: 100vw;
}

.apps .app-logo {
  max-width: 100px;
  max-height: 10%;
  margin: 0 auto;
}

.apps h2 {
  color: #777777;
}

/*  ===================
          ===== Forth-Section
          =================== */
.forth-section {
  height: 100vh;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
}

.card-box {
  opacity: 0;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  font-family: (var(--font-main));
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -600px;
  padding-top: 200px;
  background-color: #00000088;
  color: black;
  width: 100%;
  height: 100%;

  /* border-radius: 0px 50px 50px 0px; */
}

.card-box:hover {
  opacity: 1;
  color: white;
}

a {
  text-decoration: none;
}
@media (max-width: 576px) {
  /* About Section */
  .first-section {
    height: 100vh;
  }
  .social {
    top: 600px;
    bottom: 600px;
  }

  .about {
    flex-direction: column;
    padding: 0;
    margin: 0;
    animation: none;
    padding-left: 40px;
  }
  .about-me {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
  }

  .text-1 {
    flex-wrap: wrap;
    max-width: 100vw;
    padding: 3%;
  }
  /* Experience Section */
  .third-section {
    margin-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 700px;
  }
  .ninth-app {
    display: none;
  }
  .title-1 {
    font-size: 1.8em;
  }
  .apps {
    flex-direction: column;
    max-width: 100vw;
    max-height: 100%;
    padding-bottom: 200px;
  }
  .forth-section {
    padding-left: 50px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .first-section {
    height: 100vh;
  }
  .about {
    flex-direction: column;
    padding: 0;
    margin: 0;
    animation: none;
  }
  .about-me {
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
  }

  .text-1 {
    flex-wrap: wrap;
    max-width: 100vw;
    padding: 1%;
  }
  .third-section {
    margin-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 700px;
  }
  /* Experience Section */
  .third-section {
    margin-top: 200px;
  }
  .title-1 {
    font-size: 1.8em;
  }
  .apps {
    max-width: 100vw;
    max-height: 100%;
    padding-bottom: 200px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .about {
    flex-direction: row;
  }
  .about-me {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
  }

  .text-1 {
    flex-wrap: wrap;
    max-width: 100vw;
  }
  /* Experience Section */
  .third-section {
    margin-top: 200px;
  }
  .title-1 {
    font-size: 1.8em;
  }
  .apps {
    max-width: 100vw;
    max-height: 100%;
    padding-bottom: 200px;
  }
}
